<div>
  <hr>
  <label>Title:
    <input #title />
  </label>
  <hr>
  <label>Content:
    <input #content />
  </label>
  <hr>
  <label>Date:
    <!-- <md-datepicker type="datetime-local" ng-model="birthday"></md-datepicker> -->
    <!-- <input id="datetime" type="datetime-local" ng-model="string" #date /> -->
    <input #date />
  </label>
  <hr>
  <label>Category:
    <input #category />
  </label>
  <hr>

  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addNote(title.value, content.value, date.value, category.value); title.value=''">
    submit
  </button>
</div>
